:root {
  --acceent-color: #2196f3;
  --main-color: #212121;
  --add-color: #757575;
  --bg-cololr: #2f303a;
}
html {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: inherit;
}
body {
  font-family: "Roboto";
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
  padding: 0;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container-position {
  display: flex;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo {
  font-family: Raleway;
  font-size: 26px;
  letter-spacing: 0.78px;
  color: #000;
}
.first-part-logo {
  color: var(--acceent-color);
  font-weight: 700;
  letter-spacing: 0.78px;
}

/*Для того что бы слова были не с верху вниз а с право на лево*/
.nav {
  display: flex;
}
.nav-item:first-child{
  margin-left: 93px;
}
.nav-item + .nav-item {
  margin-left: 50px;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-link {
  color: var(--main-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.nav-link:focus,
.nav-link:hover {
  color: var(--acceent-color);
}
.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contact-item {
  margin-left: 50px;
}
.contact-link {
  color: var(--add-color);
  font-size: 14px;
  letter-spacing: 0.28px;
}
.contact-link:focus,
.contact-link:hover {
  color: var(--acceent-color);
}
.hero {
  /*как я понял надо вверхний падинг измерять от текста а нижний от кнопки. Вроди и там и там по 200рх*/
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
}
.hero-title { 
  color: #fff;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}
.hero-btn {
  background: var(--acceent-color);
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
}
.praise {
  padding-top: 94px;
  padding-bottom: 94px;
}
.praise-list {
  display: flex;
}
.praiser-title {
  color: var(--main-color);
  font-size: 14px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.praiser-info {
  color: var(--add-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
  padding-top: 10px;
}
.what-we-doing {
  padding-top: 94px;
}

.what-we-doing-list {
  display: flex;
  gap: 30px;
}
.what-we-are-doing-item {
  flex-basis: 370px;
}
.what-we-doing-img {
  display: flex;
  flex-basis: 370px;
}
.what-we-doing-title {
  color: var(--main-color);
  text-align: center;
  font-size: 36px;
  letter-spacing: 1.08px;
  padding-bottom: 50px;
}
.team {
  padding-top: 94px;
}
.team-list {
  display: flex;
  gap: 30px;
}
.team-item {
  margin-right: 30px;
  flex-basis: 250px;
}
.team-title {
  color: var(--main-color);
  text-align: center;
  font-size: 36px;
  letter-spacing: 1.08px;
  padding-bottom: 50px;
}

.name {
  color: var(--main-color);
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.48px;
  padding-top: 30px;
}
.position {
  color: var(--add-color);
  text-align: center;
  letter-spacing: 0.48px;
  padding-top: 10px;
  margin-bottom: 124px;
}
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 66px;
}
.logo-footer {
  color: #fff;
}
.logo-footer:visited{
  color: #FFF;
}
.address {
  display: flex;
  flex-direction: column;
}
.footer-contact {
  color: var(--add-color);
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.42px;
  text-decoration: none;
}
.footer-contact:first-child {
  color: #fff;
}
/*Portfolio*/
.product {
  padding-top: 94px;
}
.filter-list {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.filter-btn {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62; 
  letter-spacing: 0.48px;
  border: none;
  background-color: #F5F4FA;
  padding: 6px 25px;
}
.filter-btn:hover {
  border-radius: 4px;
  padding: 6px 25px;
  border-style: none;
  background: var(--acceent-color);
  color: #fff;
  cursor: pointer;
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.projects-img {
  padding-top: 34px;
  align-items: baseline;
}
.projects-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1.08px;
  padding-top: 20px;
}
.projects-info {
  color: #757575;
  line-height: 1.87;
  letter-spacing: 0.48px;
  padding-top: 4px;
}
